.Home {
  text-align: center;
}

.presentation{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.presentation h2{
  padding: 1rem;
}

.browser input{
  border-radius: 20px;
  width: 40%;
  height: 1.5rem;
  text-align: center;
}

.browser button{
  border: 0;
  background-color: greenyellow;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  align-items: center;
}
